h1 {width : 30%;
  width : 200px;
  height: 200px;}

h2 {width : 30%;
  width : 200px;
  height: 200px;}

h3 {width : 30%;
  width : 200px;
  height: 200px;}

h4 {width : 30%;
  width : 200px;
  height: 200px;}